* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    min-height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: #1783fb;
    width: 100%;
    margin-top: -10px;
    border-bottom: 1px solid #1783fb;
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 10px;
}

.nombre_empresa {
    font-size: 1.5rem;
    color: white;
}

.titulo {
    padding-top: 10px;
    font-size: 1.5rem;
}

.imgLogo {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px dashed black;
    margin-bottom: 15px;
}

.inputText {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: 300px;
    height: 30px;
    outline: none;
    background-color: #d6e8fd;
    font-size: 14px;
    padding-left: 6px;
    margin: 12px;
}

.inputText::placeholder {
    color: black;
}

.inicio_sesion {
    width: 400px;
    height: 620px;
    border: 1px solid black;
    box-shadow: 15px 15px 15px #777272;
    margin: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 140px;
    box-sizing: border-box;
    color: #000000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button {
    background-color: transparent;
    color: #1783fb;
    border: 2px solid #1783fb;
    width: 290px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.button:hover {
    background-color: #1783fb;
    color: white!important;
    text-decoration: none;
    text-transform: uppercase;
}

.enlace {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.4rem;
}

.enlace:hover {
    text-decoration: underline;
    color: rgb(13, 17, 230);
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    background-color: black;
    color: white;
    margin-top: 73px;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
        margin-bottom: 100px;
    }
    nav {
        padding: 25px 6px;
    }
    .inicio_sesion {
        margin-top: 220px;
    }
}

@media (max-width:620px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}

